<!DOCTYPE html>
<html>
<head>
    <title>Echo App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <a href="/dashboard">Dashboard</a>
    <a href="/receive">Received</a>
    <a href="/leaderboard">Leaderboard</a>
    <a href="/notifications">Notifications</a>
    <a href="/profile/{{ session['user_id'] }}">My Profile</a>
    <a href="/logout">Logout</a>
</div>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>


