{% extends "base.html" %}
{% block content %}

<h2>Welcome {{ session['username'] }}</h2>

<form method="GET">
<input type="text" name="search" placeholder="Search users...">
<button type="submit">Search</button>
</form>

<h3>All Users</h3>

{% for user in users %}
<div class="card">

<img src="{{ url_for('static', filename='uploads/' + user.profile_pic) }}" width="60">

<h4>{{ user.username }}</h4>

<a href="/profile/{{ user.id }}">View Profile</a>
<a href="/follow/{{ user.id }}">Follow</a>
<a href="/chat/{{ user.id }}">Chat</a>
<a href="/submit/{{ user.id }}">Send Echo</a>

</div>
{% endfor %}

{% endblock %}
